    {{ partial "head.html" . }}
    <body>
        {{ partial "sidebar.html" . }}
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                {{ range .Data.Pages.GroupByDate "2006" }}
                <h2>{{ .Key }}</h2>
                <ul id="list">
                    {{range .Pages }}
                    <li>
                        {{ if eq .Type  "project" }}
                            {{ .Render "summary"}}
                        {{ else }}
                          <a href="{{ .Permalink }}">{{ .Title }} {{ if .GetParam "draft"}}DRAFT{{end}}</a>
                          <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
    </body>
    {{ partial "script.html" .}}
</html>
